<div class="container-m4">
  <h2 class="text-primary">About Us</h2>
  <hr />
  <ul>
    <li><strong>Company Name:</strong> @ViewBag.CompanyName</li>
    <li><strong>Address:</strong> @ViewBag.Address</li>
    <li><strong>Phone:</strong> @ViewBag.Phone</li>
  </ul>
</div>