<div class="container mt-4">
  <h2 class="text-primary">អំពីក្រុមហ៊ុនយើង</h2>
  <hr />
  <ul>
    <li><strong>ឈ្មោះក្រុមហ៊ុន៖</strong> @ViewBag.CompanyName</li>
    <li><strong>អាសយដ្ឋាន៖</strong> @ViewBag.Address</li>
    <li><strong>ទំនាក់ទំនង៖</strong> @ViewBag.Phone</li>
  </ul>
</div>