@{
    ViewData["Title"] = "Privacy Policy";
}

@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Privacy</li>
        </ol>
    </nav>
}

<p>Use this page to detail your site's privacy policy.</p>
