@*
    Views/Shared/_TopBar.cshtml
    Another PARTIAL VIEW rendered by _AdminLayout.
*@
<header class="topbar">
    <div class="topbar-search">
        <input type="search" class="form-control" placeholder="Search students, courses, invoices…" />
    </div>

    <div class="topbar-right">
        <button class="icon-btn" type="button" title="Notifications">
            <span class="dot"></span>
            Alerts
        </button>
        <div class="avatar" title="Signed in as Rachana">RS</div>
    </div>
</header>
